#footer {
	position:fixed;
	bottom:0;
	width:100%;
}
.logo_home{
	display:inline-block;
	margin-left:auto;
	margin-right:auto;
}
#link_container{
	text-align:center;
}
.Thumbnail{
	height:5em;
	width:5em;
	display:inline;
}
/*Header and body css selectors are to remove the white space around navbar*/
header{
    margin:0;
}
body{
    margin:0;
}